//-----------------------------------------------------------------------
// 
//  Base » General
// 
//  Contains all general style.
// 
//-----------------------------------------------------------------------

+border-box-sizing
+establish-baseline

.container
  // +susy-grid-background
  +container

// +at-breakpoint(40em 6)
//   .container
//     +susy-grid-background

//-----------------------------------------------------------------------
// 
//  Base » #grid
// 
//  Contains all #grid styles.
// 
//  OBS: Remove in produtcion
// 
//-----------------------------------------------------------------------

#grid
  width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  .horiz
    height: $base-line-height
    border-bottom: 1px dotted darkgray
    margin: 0
    padding: 0