//-----------------------------------------------------------------------
// 
//  Base » General
// 
//  Contains all general style.
// 
//-----------------------------------------------------------------------

+border-box-sizing
+establish-baseline

// body
//   +debug-vertical-alignment

.container
  // +susy-grid-background
  +container

// +at-breakpoint(40em 6)
//   .container
//     +susy-grid-background

img
  max-width: 100%
  margin: 0 auto
  display: block

pre
  white-space: pre
  word-wrap: normal
  background-color: #333
  overflow: auto
  color: #fff
  padding: 12px

  +border-radius(4px)
  +single-box-shadow(rgba(0,0,0,.25), 0, 0, 15px, 0, inset)