//-----------------------------------------------------------------------
// 
//  Modules » Footer
// 
//  Contains all footer style.
// 
//-----------------------------------------------------------------------

.footer-main
  background: #000
  +margin-leader(3)
  
  figure
    max-width: 320px
    max-height: 384px
    overflow-y: hidden
    margin: auto

  img
    width: 100%
    display: block

  legend
    +rhythm($leader: 1, $trailer: 1)
    height: 100%
    color: #fff
    text-align: center

  p
    text-align: center
  a
    text-decoration: none
    display: inline-block
    color: #fff
