//-----------------------------------------------------------------------
// 
//  Modules » Logo
// 
//  Contains logo at top of site configurations.
// 
//-----------------------------------------------------------------------

.logo
  float: left
  img
    width: 100%
    display: block