//-----------------------------------------------------------------------
// 
//  Modules » Menu
// 
//  Contains menu configurations.
// 
//-----------------------------------------------------------------------

.menu-condensed-trigger
  +rhythm($padding-leader: 0.35, $padding-trailer: 0.3)
  float: right
  
  span
    +border-radius(3px)
    width: 30px
    height: 5px
    margin: 4px
    display: block
    background: #fff