//-----------------------------------------------------------------------
// 
//  Modules » Post
// 
//  Contains all post configurations.
// 
//-----------------------------------------------------------------------

.post
  +margin-leader(2)
  +trailing-border(1px, 2)
  border-color: #ccc

.post-header
  +padding-trailer(0.5)
  border-color: #fff
  text-align: center

.post-title
  +margin-trailer(0.5, 24px)

.post-date

.post-image
  margin: auto
  width: 320px
  img
    max-width: 100%
    display: block

.post-description
  +adjust-font-size-to(12px)
  text-align: center
