//-----------------------------------------------------------------------
// 
//  Modules » Post
// 
//  Contains all post configurations.
// 
//-----------------------------------------------------------------------

.post
  +trailing-border(1px, 1)

.post-header
  +padding-trailer(0.5)
  border-color: #fff
  text-align: center

.post-title
  +margin-trailer(0.5, 24px)

.post-date

.post-image
  max-width: 320px
  margin: auto
  display: block

.post-description
  text-align: center
