//-----------------------------------------------------------------------
// 
//  Modules » Post
// 
//  Contains all post configurations.
// 
//-----------------------------------------------------------------------

.post
  +margin-leader(2)
  +trailing-border(1px, 2)
  border-color: #ccc

.post-header
  +padding-trailer(0.5)
  text-align: center

.post-title
  +margin-trailer(0.5, 24px)
  a
    text-decoration: none

.post-image
  width: 584px
  max-width: 100%
  margin: 0 auto
  img
    border: 1px solid #ddd
    padding: 1.25%

.post-description
  +adjust-font-size-to(12px)
  padding: 10px 0 5px 0px
  text-align: center
